/* color codes i will potentially use:
#ccf0c3
#bca3ca
#7c4789
#4a0e5c*/

/* .gray {
    background: #dcdddc;
    color:#888;
    padding: 2rem;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #eeeeee;
    margin: 0;
    align-self: auto;
} */

.doctorwho {
    width:500px;
    height: auto;
}

@font-face {
    font-family: 'Lora';
    src: url('Lora-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Regular.ttf');
}

p {
    font-family: 'Ubuntu';
}
/* .interests {
    width: 40%;
    height: 150px;
    float: left;
    margin: 50px;
    margin-bottom: 50px;
}

.prog-interest {
    width: 40%;
    height: 150px;
    float: right;
    margin: 50px;
    margin-bottom: 50px; 
} */

.contacts {
    width: 30px;
    height: auto;
}

body {
    background: #b6a19e
}

@media screen and (min-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1;
        line-height: 14px;
    }

    #bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1;
    }

    .interests, .prog-interest, .project-desc {
        border: 3px solid #b6a19a;
        background: #b6a19e;
        border-radius: 15px 15px 15px 15px;
        padding: 15px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1;
        line-height: 20px;
    }

    #projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1;
    }

    #contact-me {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1 1;
    }

    .contacts {
        width: 30px;
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex: 1 1;
    }

    #bio {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1 1;
    }

    .interests, .prog-interest {
        border: 3px solid #b6a19a;
        background: #b6a19e;
        border-radius: 15px 15px 15px 15px;
        padding: 15px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1;
        line-height: 20px;
    }

    .project-desc {
        border: 3px solid #b6a19a;
        background: #b6a19e;
        border-radius: 15px 15px 15px 15px;
        padding: 15px;
        margin: 5px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1 1;
    }

    .pro-des, .link {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1;
        float: left;
    }

    #contact-me {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1 1;
    }

    .contacts {
        width: 30px;
        height: auto;
    }
}