.gray {
    background: #dcdddc;
    color:#888;
    padding: 2rem;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #eeeeee;
    margin: 0;
    align-self: auto;
}

.doctorwho {
    width:1200px;
    height: auto;
}

.interests {
    width: 40%;
    height: 150px;
    float: left;
    margin: 50px;
    margin-bottom: 50px;
}

.prog-interest {
    width: 40%;
    height: 150px;
    float: right;
    margin: 50px;
    margin-bottom: 50px;
}

.contacts {
    width: 50px;
    height: auto;
}